<!-- author ben lawson (balawson@bu.edu) -->
<!doctype html>
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if email %}
  <h1>Hello {{ email }}!</h1>
{% endif %}

{% if photos %}
<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>{{photo[2]}}<br>
        <img src='data:image/jpg;base64, {{ base64.b64encode(photo[0]).decode("ascii") }}' height="400"/></li>
    {% endfor %}
    </ul>
{% endif %}

{% if message is none %}
  <p>You should <a href='/login'>login!</a></p>
{% else %}
  <p> Go to <a href='/profile'>profile?</a></p>
{% endif %}

<ul>
  <li><a href='/friends'>Friends</a> </li>
  <li><a href='/createalbum'>Create an Album</a> </li>
  <li><a href='/upload'>Upload a Photo to Album</a> </li>
  <li><a href='/viewallalbums'>View All Albums</a> </li>
  <li><a href='/viewuseralbums'>View Your Albums</a> </li>
  <li><a href='/search_tags'>Search Photos by Tags</a> </li>
  <li><a href='/search_user_tags'>Search Your Photos by Tags</a> </li>
  <li><a href='/you_may_like'>Photos You May Also Like</a> </li>
  <li><a href='/search_on_comment'>Search Users on Comment</a> </li>
  <li><a href='/logout'>Logout</a></li>
  <li><a href='/'>Home</a></li>
</ul>

<div>
  <h4>Top 5 Tags:</h4>
  <ol>
    {% for tag in getPopularTags(5) %}
      <li><a href="{{ url_for('search_tags', tag=tag[0])}}">{{tag[0]}}</a> -- ({{tag[1]}} photos)</li>
    {% endfor %}
  </ol>
</div>
