<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                
                
                <!-- <label for="createalbum">Create An Album:</label>

                <select name="createalbum" id="createalbum">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select> -->


                <label for="albumname">Album Name:</label>
                <input type="text" name="albumname" required='true' /><br />


                <!-- <label for="selectalbum">Select an Album:</label>

                <select name="selectalbum" id="selectalbum">
                
                    {% for album in album_list %}
                        <option value="{{ album }}">{{ album }}</option>
                    {% endfor %}

                </select> -->

                <label for="date">Date:</label>
                <input type="date" name="date" required='true' /><br />

                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
