

<!--shows all of the albums of the user and includes functionality where user can delete album  -->



<head>
    <title>View All of Your Albums</title>
</head>
<head>
    <style>
    a:link, a:visited {
        background-color: #707070;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        margin-top:10px;
        margin-left: 10px;
        display: inline-block;
    }

    a:hover, a:active {
        background-color: black;
    }
    </style>
</head>
    <body>


    <ul>
        {% for album_name in album_list %}
            <li>
                <a href= "{{ url_for('viewonealbumuser', album_name = album_name) }}" >{{album_name[0]}}</a>
            </li>
            <a href= "{{ url_for('deletealbum', album_name = album_name) }}" >Delete {{album_name[0]}}</a>
        {% endfor %}
    </ul>
            
            <li><a href='/'>Home</a></li>
    </body>


    
    
 
    