
<!-- after the button of an album is clicked it redirects to the viewonealbum.html page
to show the photos from that one album (UNREGISTERED so can not delete the photos) -->

<head>
    <title>View Photos of This Album</title>
</head>


<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}

        <li>
            {{photo[2]}}<br>
            <img src='data:image/jpg;base64, {{ base64.b64encode(photo[1]).decode("ascii") }}' height="400"/>
        </li>
        <label for="comment">Comment on Photo {{photo[2]}}:</label>
        <input type="text" name="comment" /><br />
        <label for="date">Date of Comment:</label>
        <input type="date" name="date" required='true' /><br />
    
        {% if not isAuth %}
        <form method="post" action="{{url_for('showcomments', photo_id=photo[0])}}">
            <button type="submit">Submit Commment</button>
        </form>

        {% endif %}

        <li>
            {{photo[2]}}<br>
            <img src='data:image/jpg;base64, {{ base64.b64encode(photo[1]).decode("ascii") }}' height="400"/>
        </li>

        <!-- LIKES FEATURES -->
        {% if isAuth %}
        <form method="post" action="{{url_for('add_like', photo_id=photo[0])}}">
            <button type="submit">Like 👍</button>
        </form>


        {% endif %}


        <div>
            Likes: {{ getLikes(photo[0]) }}
        </div>

        <div>
            Liked By: 
            {% if getLikeList(photo[0]) %}
                {{getLikeList(photo[0])}}
            {% else %}
                None
            {% endif %}
        </div>

        <!-- TAGS -->
        <div>
            Tags:
            {% if getTagsOfPhoto(photo[0]) %}
                {% for tag in getTagsOfPhoto(photo[0]) %}
                    <a href="{{ url_for('search_tags', tag=tag[0])}}">{{tag[0]}}</a>
                {% endfor %}
            {% else %}
                None
            {% endif %}


        </div>


    {% endfor %}
    <a href='/'>Home</a>
    </ul>



