

<!-- after the button of an album is clicked it redirects to the viewonealbum.html page
to show the photos from that one album (REGISTERED so add delete photo functionality) -->


<head>
    <title>View Photos of This Album</title>
</head>


<h2>Here are your photos</h2>
    <ul>
    {% for photo in photos %}
        <li>
            {{photo[2]}}<br>
            <img src='data:image/jpg;base64, {{ base64.b64encode(photo[1]).decode("ascii") }}' height="400"/>
        </li>
        {% for tag in getTagsOfPhoto(photo[0]) %}
            <a href="{{ url_for('search_tags', tag=tag[0])}}">{{tag[0]}}</a>
        {% endfor %}
    {% endfor %}

    <li><a href='/'>Home</a></li>
    </ul>
